files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIID5TCCAs2gAwIBAgIUcZrtgJ2imyjpEJoRthG8l/S/drUwDQYJKoZIhvcNAQEL
      BQAwgYExCzAJBgNVBAYTAkNBMQ8wDQYDVQQIDAZRdWViZWMxETAPBgNVBAcMCE1v
      bnRyZWFsMQwwCgYDVQQKDANPTEkxDDAKBgNVBAMMA09saTEyMDAGCSqGSIb3DQEJ
      ARYjb2xpdmllci5nYXV0aGllci5mYXJsZXlAaG90bWFpbC5jb20wHhcNMjAwMzE4
      MjMxMTE0WhcNMjAwNDE3MjMxMTE0WjCBgTELMAkGA1UEBhMCQ0ExDzANBgNVBAgM
      BlF1ZWJlYzERMA8GA1UEBwwITW9udHJlYWwxDDAKBgNVBAoMA09MSTEMMAoGA1UE
      AwwDT2xpMTIwMAYJKoZIhvcNAQkBFiNvbGl2aWVyLmdhdXRoaWVyLmZhcmxleUBo
      b3RtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMpTiJJB
      YnrQJwoXRVPFRkd16yC5dITosDyKGqQo0WXKkjB8/m6xpMQXu1ke9saqQgJG5B9q
      5Z1Bkl6URj8yUfQFgYuncU+kKjJRMqWtLjR2L6hlrLl95YIk4lhhEvwfTFDa9WBy
      2tvBdsuuBJ9RkBO97s2G6/doTOuwcKrCSoz3DaNrb993HXGlg+rxfx6VNgHhyfTv
      yElLLV7igscd5DihpIY7bUre3ZyPzfKCS3VbfLFLEn9g22pM4dVL6uj8wfAct624
      NZOxpMgAroPid4zCNXyV0oG+MAvlWxkov/jTjXzCK8be0nFbr8gJ9g9w/vMigS2k
      tEyK7hLx8l2DhDMCAwEAAaNTMFEwHQYDVR0OBBYEFJGcr6Savr3RJiCpQvf8G/I6
      mLfOMB8GA1UdIwQYMBaAFJGcr6Savr3RJiCpQvf8G/I6mLfOMA8GA1UdEwEB/wQF
      MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAHsD4YQRrGuevmY87eyxfjjsKJHZLF6v
      UM+23EWq+rltXwi/R9j2G6y7i7jbPX+lbfYebsSlx/mKaf/fAk9cgLh7MdEg7Bx1
      SjqoOXwe61tOzVkXyDJFlMDhHKjt0g/zpEfpCUKW0Cqyzq29MjBXSvAFEewdZZm1
      s5fFL7VIuEl4pIl6j4quDEc5t2AeCiWrVo2v3+atYA7zAaBAAaSemnwk/ibtJqOF
      pZ70Fkk++NIM7jnd54BRWH6q4HYVbrhpFEVYj6oB4MIwn4KFpLoAWkytIK0hj3LH
      Bz6zKmZf0EwJxvRRxYkJ+gs5lTv85qHRRZDbmLBix1OzmWL86h6tZC0=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDKU4iSQWJ60CcK
      F0VTxUZHdesguXSE6LA8ihqkKNFlypIwfP5usaTEF7tZHvbGqkICRuQfauWdQZJe
      lEY/MlH0BYGLp3FPpCoyUTKlrS40di+oZay5feWCJOJYYRL8H0xQ2vVgctrbwXbL
      rgSfUZATve7Nhuv3aEzrsHCqwkqM9w2ja2/fdx1xpYPq8X8elTYB4cn078hJSy1e
      4oLHHeQ4oaSGO21K3t2cj83ygkt1W3yxSxJ/YNtqTOHVS+ro/MHwHLetuDWTsaTI
      AK6D4neMwjV8ldKBvjAL5VsZKL/40418wivG3tJxW6/ICfYPcP7zIoEtpLRMiu4S
      8fJdg4QzAgMBAAECggEAKC4Upi7z9r3VsuxSKUO5JEHnsvUBjc+ECFHI3qb4hsWG
      6Lg58xO2S/cGjrlWerefKkKX1SFufh9iiQPbO3uryNE7G9fh6dYJRzrW2w4cafC6
      oC+o8KFu7byTcse8dHNmvXvuVPwaOKAgDmz9oAIbocALZ6eOvvBorjm49kBle77N
      /o0o11cu5N65idGem+2tNtHOjLn8A8Y85zZtSqgo2R1U3DLdo7mc1uTSsS55Uvej
      QFXgEqiT3FZo5zDJyRnH3/BDK+Bq79bR2DVPle/tq7ZZd2dLtuqyqPZnOsz5koSf
      kPRd015tO5N24ZnkUS1ExB1nXy21VUPESDTSADPTsQKBgQDn6o9jdy96769OxUpz
      PjC6nZ2QapgD+fTDpMLZI7JG0pJlWpbxVqPc3TLkWA1LiskeIUsVHBvb1IEFXy80
      9ast22EwIIV3Ca5mTf4UKEj7ccd0KNKBzOSEWLqw8gHoG4knZafBnrpDsi8nWYjL
      FHpixAG8sqxdaN6L79RUIrLT2wKBgQDfVlTZ+/p8aBWDev7xBEivn9hoilAKsUmJ
      JnUY93q7GCoTnI0ty4dyldPNxVBYYawIr30PkliFJLrmt5QlJRxpdmOz2EP6gbeF
      syCujbou8tVcF7JWi0zJHNSgQU7sLGXgJgOaLO/t96G3KlWK1Djq3+pF6iQiMerI
      xhOQFjusiQKBgC8fFatcGCWedbxHke0Agd4pEE67mc+VBgqKe5yrCBojxuMZGPpI
      ZFsIBsMmsOzccijREvRjFbYA44Y35NuZ3wIeRQ0GTpf1O55F0o498TZF1ATiFoOR
      Ig1SCfzR71k93wxGN2O74JTIq5QPOSAqNQPEV6YDl8oS+MTuIfJGapdpAoGBAKlg
      yRNVFeBZ8872bfkN/a4sNSz7kL67PADnCLG5pvvT1L1w4mVT0VKmrK6HMWsGEDm6
      FcfEfpvjglfN7G3LWmPlZLIVl2CaFjww4N1hIU3P3t5sHlWiacawtdUgEqHs/gpj
      6iF4aTJ5tsy6L4wNbWk8DmmdrG++mchQ6K9DHVi5AoGBALBddHfD2GZaiUrrDKTw
      caSR92JPiSiWLIb9Q7nK6pw9oVPDnhy+zbKjsox2wCaqgkwMGIvhLxVyxEKVm08H
      X3vd4fTxzuSZ2zqKaXHEwebT8HqG4Lva0lnYxFzLJcJhRc2aiZWq/w/o7CztaxBj
      MF0c7x6ynmHozOj9dPeavCo0
      -----END PRIVATE KEY-----