files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDvzCCAqcCFFXBTnk0Cc6V/gZ6S2N4tybeqdvaMA0GCSqGSIb3DQEBCwUAMIGb
      MQswCQYDVQQGEwJDQTEPMA0GA1UECAwGUXVlYmVjMREwDwYDVQQHDAhNb250cmVh
      bDEQMA4GA1UECgwHSklKSUJPVDEQMA4GA1UECwwHQm90QXJteTEQMA4GA1UEAwwH
      T2xpdmllcjEyMDAGCSqGSIb3DQEJARYjb2xpdmllci5nYXV0aGllci5mYXJsZXlA
      aG90bWFpbC5jb20wHhcNMjAwNDI3MTU0NTQxWhcNMjEwNDI3MTU0NTQxWjCBmzEL
      MAkGA1UEBhMCQ0ExDzANBgNVBAgMBlF1ZWJlYzERMA8GA1UEBwwITW9udHJlYWwx
      EDAOBgNVBAoMB0pJSklCT1QxEDAOBgNVBAsMB0JvdEFybXkxEDAOBgNVBAMMB09s
      aXZpZXIxMjAwBgkqhkiG9w0BCQEWI29saXZpZXIuZ2F1dGhpZXIuZmFybGV5QGhv
      dG1haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmsbMqJ0d
      Hp1l/ieF7S4V0DOitI7EeLiOnQEoF40SnvwUESGr02nuJRdQGF1fFBtLUJLl39ug
      xC4h95EP4Ax7XxxZP2KtWfdS2joo1oz4zf42+gd1Cu9KmRbh7z//hR5r0Jr7Qaft
      zsTAp6XHlwymxcQsmSAI7uc9VLnBfVkZFApFZ5SmbaWWptKkjqsQ1VOA9aTWbVoi
      TrJJp7OThYjsfe3dBXKeLytJuS21Ej7zVUXjburGFCvI8Wc7Vy1L0w5WH9GauU3Z
      9D4lV38CqqZx+p4lwMZzTzuQnappZTNAEqrZ16fv6q+yL8Eaa0l4BdbPgF418z0v
      M8+NcCw9apWxPwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBdV+vP3rdL/89t8c+l
      LTQyOVed7qFozSzgJSc0JjXxTcrFVWSJA/vIWDt7+2MLQgsc13xg6vPfk9a/4l/3
      8ntTn20Nywd3bF6py2dJ/YRT/kQk56joTk6di3fj8rlo/oM3Zbf9NXPROpLRrP0Y
      PNQmXfGtCatXaokvJY1Lr1BAAfphz0mCkUwDSSLEeFDbyjWw956c6xGrBbLZCzWY
      CGxdUkvM84ihxOv8ZzLjdQrVY2OW5I/47UZvWmGS3+pBIz2ln9tKrk50NWh0SNh+
      k2hftyfW5VN3jXjYqZR02VQzuJgxwOiiqAr2LGfHnY1izl5R548Jn6GI5UWPr8sR
      lFHG
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAmsbMqJ0dHp1l/ieF7S4V0DOitI7EeLiOnQEoF40SnvwUESGr
      02nuJRdQGF1fFBtLUJLl39ugxC4h95EP4Ax7XxxZP2KtWfdS2joo1oz4zf42+gd1
      Cu9KmRbh7z//hR5r0Jr7QaftzsTAp6XHlwymxcQsmSAI7uc9VLnBfVkZFApFZ5Sm
      baWWptKkjqsQ1VOA9aTWbVoiTrJJp7OThYjsfe3dBXKeLytJuS21Ej7zVUXjburG
      FCvI8Wc7Vy1L0w5WH9GauU3Z9D4lV38CqqZx+p4lwMZzTzuQnappZTNAEqrZ16fv
      6q+yL8Eaa0l4BdbPgF418z0vM8+NcCw9apWxPwIDAQABAoIBAG6lfftwTjfrp9U4
      Zfq3vmpX75IKmhP/RByjjgjAFjbH2ISiwJZjnRaxAtZYMbdLB91zFpihBt4YaLn1
      3xZ5ddz5hCfXIDw3nehaOYWfw+JnQOAfYqHNjVPB0wTZiI6ev86ibMp0BYKSj3OK
      BRRLvBGXe5aAG0LG1sZyAQveHRqAXJ9lAl0x77YqnifgUBP37kVwdw8BbrfW3/7J
      YggfXSbqztkOjxeu4ixeDFOYhfNU2386XsEQcrYu+LkBRUYc1RCKPksBB01VKtWm
      0t/9THIA9NSMCrQ3+dsI6BOTr5iDB4PG3j40PM76qJrGUeq3xCcEpXJeHbJjV3sC
      qtOEzAECgYEAyEnzSqLPA+BvP9uFikqSySG6Hy0FH9x7xnwl7N0d7orGx2ndMGlP
      aNW6PzXIVxptGvH/3p0Hk+8JNQZJ2+CtYizvCmxb6Lu7B0l65qkspVh8wuSBgvNr
      w+vcGdYYcUhT+scTfV2qxEdFELHv9SdakmELfSbx4QfoZq/3at4zHgECgYEAxdQJ
      M0IfvRJ9qcOCVB94Uo8dLKJ4e/S8osbJhyeHIXne/In/dwRRy5JQG/CfDuluq7EH
      nOCsr5aOZi3GpS/rr62JvVs/mMmLRkFerKtuYH8bzYBJbG/LuRKjFsG4Ywwtv4bg
      T7Sorad8cze2q72WZteYucxCIBFf1p4OAZO/Tz8CgYBmhtRvxF/MUDsiqTD21a3G
      H+myw8z3vlnuBOc1FQuZbJjMw7hia8YmmCG68cEYNYLcZDziq+eRJq/D4PA2ChE3
      TGEhKM7zmAXpeQfcw4UDLwTOj0Js0ka8CCSnZR0mACxdF0M2zZf42bLVFQEMsZR/
      kgXbjvAKjY294x34Kr5oAQKBgHjgMi7rvFDet4G/QCb+g5qOb5kSPOQgihI7vG+k
      q2C9Ao70EvA553CnmeM4hzepUkH+DVTBw0IWkDPGzJWqTiwtsPfOhXFp1Hu8/Ygr
      x2mWwPoz5KkpNiWDSbth6rQ6gMmCNBT/ogFZUSVlaWxOj1OPcHY2ZEEL3K9aK9yy
      1jYpAoGAcLZ7HB5G4VrHK8vkrIwRTmd48tKxIKQRhYAlRjZuYum7nj2AKwCTjvmw
      5eaoE/kWbTZ3M2jkto7cW8l7T2gvy6ftSq20F71brIPR91WgQAJyibYWYO+1U0ms
      6wmF92DltIES/INpfpOLaaa7wvi14kuN15cqf4i8uURr7IUx23c=
      -----END RSA PRIVATE KEY-----